body {
    font-family: 'Bungee Spice', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

/*flexiable vabe pasapasi rakhar jonno */
.flexible-container {
    display: flex;
    margin-bottom: 200px;
    /*2nd part er jonno use korse 2tar part gap er */
}

.half-weight {
    width: 50%;
    padding-left: 2%;
    text-align: justify;
}

.half-weight img {
    width: 50%;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: rgb(10, 2, 2);
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(image/corner.png);
}

.dream-big {
    background-image: url(image/dream.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {

    background-image: url(image/Untitled\ design.png);
    background-repeat: no-repeat;
    background-position: left;

}

.shadow {
    width: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

/* akpase border dear jonno */
#full-stack-developer {
    border-left: 7px solid tomato;

}

#beginar-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}